<!-- blog/templates/blog/post_detail.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>Published on: {{ post.published_date }}</p>
    <p>{{ post.body }}</p>
    
    <a href="{% url 'post_list' %}">Back to all posts</a>

    <!-- Add a delete button that links to the delete confirmation page -->
    <a href="{% url 'delete_post' pk=post.pk %}" style="color: red; text-decoration: underline;">Delete this post</a>

</body>
</html>
